*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
body{
    --background-body: #FFFFFF;
    --contraste-body: #000000;
    --background-card: #FFFFFF;
    --contraste-input: #979797;
    /* --background-dark: #242424; */


    background-color: var(--background-body);
}
.header{
    display: flex;
    justify-content: center;
    gap: 500px;

    padding: 13px;

    color: #FFFFFF;
    background: #A785ED;
}
.input{
    height: 46px;
    width: 400px;

    padding: 14px;
    margin: 0px 350px 40px;
    border: 1px solid var(--contraste-input);
    border-radius: 8px;

    background-color: var(--background-body);
    color: var(--contraste-body);
}
.btn-theme{
    cursor: pointer;
}
input::placeholder{
    color: var(--contraste-body);
}
.container{
    padding: 130px;
}
.movies-container{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}
.movies{
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    flex-wrap: wrap;
}
.movie{
    height: 301px;
    width: 168px;

    background-size: cover;
    background-position: center;
}
.movie_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;

}
.movie_rating{
    display: flex;
    flex-direction: row-reverse;
    gap: 4px;
    align-items: baseline;

    color: #FBCD6E;

    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-align: left;

}
.movie_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    height: 40px;
    position: relative;
    top: 261px;

    color: #FFFFFF;
    background-color: #000000CC;
    width: 100%;

    padding: 10px;
}
.subtitle{
    display: flex;
    justify-content: center;

    margin: 40px 0px 20px;
    color: var(--contraste-body);
}
.highlight{
    display: flex;
    justify-content: flex-start;
    margin: 0px 60px;
    gap: 25px;
}
.highlight__video{
    height: 311px;
    width: 553px;

    
    background: #00000099;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}

.highlight__video img{
    position: relative;
    top: 45%;
    left: 45%;
}

.highlight__info{
    padding: 16px;
    box-shadow: 0px 4px 8px 0px #00000026;

    width: 360px;
    background-color: var(--background-light);
}
.highlight__title-rating{
    display: flex;
    justify-content: space-between;
    gap: 55px;
}
.highlight__title{
    font-size: 24px;
    color: #E183C8;

}
.highlight__rating{
    font-size: 24px;
    color: #A785ED;

}
.highlight__genre-launch{
    font-size: 12px;
    margin-top: 8px;

    color: var(--contraste-body);
}
.highlight__description{
    font-size: 16px;
    margin-top: 30px;

    color: var(--contraste-body);
}

/* modal */

.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: #000000CC;

    padding-top: 56px;

    overflow-y: scroll;
    font-size: 50px;
}
.hidden{
    display: none;
}
.modal__close {
    position: fixed;
    top: 50px;
    right: 50px;

    cursor: pointer;
  
    align-self: flex-end;
  
    margin-bottom: 10px;
}
  
.modal__title {
    margin-top: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    color: #FFFFFF;
}
  
.modal__img {
    width: 729px; 
  
    margin-bottom: 20px;
}
  
.modal__description {
    font-style: normal;
    font-size: 20px;
    line-height: 150%;
  
    color: #FFFFFF;
  
    width: 729px; 
  
    margin-bottom: 20px;
}
.modal__genre-average{
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;

    margin: 20px 355px;


    color: #FFFFFF;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}
.modal__genre{
    border: 1px solid #E183C8;
    border-radius: 10px;
    padding: 9px 11px;
    background-color: #E183C8;
}
.modal__average{
    margin-left: 220px;

    border: 1px solid #A785ED;
    border-radius: 10px;
    padding: 9px 11px;
    background-color: #A785ED;
}